
{% extends "KaraoKeySite/base.html" %}

{% block title %} KaraoKey {% endblock %}

{% block page-name %}
{% endblock %}

{% block js-src %}
<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
<script src="../../static/KaraoKeySite/chartAJAX.js"></script>
{% endblock %}

{% block page-content %}
<div id="main">
  <audio preload='none' onended ="endAll()" id="songbox" style="display: none;">
    <source src="../../static/KaraoKeySite/songs/hbdnovocals.mp3"  type="audio/mp3">
  </audio>

  <div id='buttons_area'>
    <button id='start' class="nice_button">
      <div class="nice_button_text">
        start
      </div>
    </button>
  </div>

  <div id="after_feedback" style="display: none;">
    <div>You scored {{ score }}</div>

    <div style="height:450px; margin-top: 100px;">

      <div id = "worstChartDiv" style="float:left;height:300px; width: 700px;">
        WORST SECTION
        <canvas id="myWorstChart"></canvas>
        {{ worst_feedback }}
      </div>
    
      <div id = "bestChartDiv" style="float:right;height:300px; width: 700px;">
        BEST SECTION
        <canvas id="myBestChart"></canvas>
        {{ best_feedback }}
      </div>

    </div>
  
    <button class="nice_button">
      <a href="/" id="id_nav_logout" class="header_button, nice_button_text">
        home
      </a> 
    </button>
  </div>
  

  <!-- <audio controls onplay="startAll()" onended ="endAll()" onpause="pauseAll()" id="songbox">
    <source src="../../static/KaraoKeySite/songs/hbdnovocals.mp3"  type="audio/mp3">
  </audio> -->
  <div id = "chartDiv" style="height:650px; display: none;">
    <canvas id="myChart"></canvas>
  </div>
</div>

<script type="text/javascript" src="http://code.jquery.com/jquery-1.10.0.min.js"></script>
<script type="text/javascript">


  var user_vals = {{ user_vals }}
  var score = {{ score }}
  var worst_chunk = {{ worst_chunk }}
  var worst_ind1 = {{ worst_ind1 }}
  var worst_ind2 = {{ worst_ind2 }}
  var worst_feedback = "{{ worst_feedback }}";
  var best_chunk = {{ best_chunk }}
  var best_ind1 = {{ best_ind1 }}
  var best_ind2 = {{ best_ind2 }}
  var best_feedback = "{{ best_feedback }}";

  start.onclick = e => {
      startAll()
    }

  var chartinterval;

  const chartAreaBorder = {
    id: 'chartAreaBorder',
    beforeDraw(chart, args, options) {
      const {ctx, chartArea: {left, top, width, height}} = chart;
      ctx.save();
      ctx.strokeStyle = options.borderColor;
      ctx.lineWidth = options.borderWidth;
      ctx.setLineDash(options.borderDash || []);
      ctx.lineDashOffset = options.borderDashOffset;
      ctx.strokeRect(left, top, width, height);
      ctx.restore();
    }
  };

  const plugin = {
    id: 'customCanvasBackgroundColor',
    beforeDraw: (chart, args, options) => {
      const {ctx} = chart;
      ctx.save();
      ctx.globalCompositeOperation = 'destination-over';
      ctx.fillStyle = options.color || '#99ffff';
      ctx.fillRect(0, 0, chart.width, chart.height);
      ctx.restore();
    }
  };

  var charty;

  var worstCharty;
  var bestCharty;

  function makeChart(xhr) {
    let vals = JSON.parse(xhr.responseText)
    const data = {
      labels: vals["labels"],
      datasets: [{
          data: [],
          fill: false,
          tension: 0.1,
          // stepped: true,
          borderWidth: 5,
          borderColor: 'rgb(242, 48, 100)',
        },
        {
          data: vals["target"],
          fill: false,
          tension: 0.1,
          borderWidth: 20,
          borderColor: 'rgb(143, 227, 255)',
        },
      ]
    }
    var ctx = $("#myChart").get(0).getContext("2d");
    return new Chart(ctx, {
        type: 'line', 
        data: data,
        options: {
          elements: {
              point:{
                  radius: 0
              }
          },
          events: [],
          animation: {
            duration: 0
          },
          responsive: true,
          maintainAspectRatio: false,
          interaction: {
            intersect: false,
            axis: 'x'
          },
          plugins: {
            customCanvasBackgroundColor: {
              color: 'white',
            },
            title: {
              display: true,
              text: vals["lyrics"],
              font: {
                  size: 36,
                  family: 'Inter'
              }
            },
            chartAreaBorder: {
              borderColor: 'white',
              borderWidth: 5
            },
            legend: {
              display: false
            }
          },
          scales: {
            y: {
              grid: {
                display: false
              },
              ticks: {
                display: false
              },
              // max: 15
            },
            x: {
              grid: {
                display: false
              },
              ticks: {
                display: false
              }
            }
          }
        },
        plugins: [chartAreaBorder, plugin]
      });
  }

  function makeWorstChart(xhr) {
    let vals = JSON.parse(xhr.responseText)
    const data = {
      labels: vals["labels"],
      datasets: [{
          data: user_vals.slice(worst_ind1 , worst_ind2),
          fill: false,
          tension: 0.1,
          // stepped: true,
          borderWidth: 5,
          borderColor: 'rgb(242, 48, 100)',
        },
        {
          data: vals["all_target_values"][worst_chunk],
          fill: false,
          tension: 0.1,
          borderWidth: 20,
          borderColor: 'rgb(143, 227, 255)',
        },
      ]
    }
    var ctx = $("#myWorstChart").get(0).getContext("2d");
    return new Chart(ctx, {
        type: 'line', 
        data: data,
        options: {
          elements: {
              point:{
                  radius: 0
              }
          },
          events: [],
          animation: {
            duration: 0
          },
          responsive: true,
          maintainAspectRatio: false,
          interaction: {
            intersect: false,
            axis: 'x'
          },
          plugins: {
            customCanvasBackgroundColor: {
              color: 'white',
            },
            title: {
              display: true,
              text: vals["all_target_lyrics"][worst_chunk],
              font: {
                  size: 36,
                  family: 'Inter'
              }
            },
            chartAreaBorder: {
              borderColor: 'white',
              borderWidth: 5
            },
            legend: {
              display: false
            }
          },
          scales: {
            y: {
              grid: {
                display: false
              },
              ticks: {
                display: false
              },
              // max: 15
            },
            x: {
              grid: {
                display: false
              },
              ticks: {
                display: false
              }
            }
          }
        },
        plugins: [chartAreaBorder, plugin]
      });
  }


  function makeBestChart(xhr) {
    let vals = JSON.parse(xhr.responseText)
    const data = {
      labels: vals["labels"],
      datasets: [{
          data: user_vals.slice(best_ind1 , best_ind2),
          fill: false,
          tension: 0.1,
          // stepped: true,
          borderWidth: 5,
          borderColor: 'rgb(242, 48, 100)',
        },
        {
          data: vals["all_target_values"][best_chunk],
          fill: false,
          tension: 0.1,
          borderWidth: 20,
          borderColor: 'rgb(143, 227, 255)',
        },
      ]
    }
    var ctx = $("#myBestChart").get(0).getContext("2d");
    return new Chart(ctx, {
        type: 'line', 
        data: data,
        options: {
          elements: {
              point:{
                  radius: 0
              }
          },
          events: [],
          animation: {
            duration: 0
          },
          responsive: true,
          maintainAspectRatio: false,
          interaction: {
            intersect: false,
            axis: 'x'
          },
          plugins: {
            customCanvasBackgroundColor: {
              color: 'white',
            },
            title: {
              display: true,
              text: vals["all_target_lyrics"][best_chunk],
              font: {
                  size: 36,
                  family: 'Inter'
              }
            },
            chartAreaBorder: {
              borderColor: 'white',
              borderWidth: 5
            },
            legend: {
              display: false
            }
          },
          scales: {
            y: {
              grid: {
                display: false
              },
              ticks: {
                display: false
              },
              // max: 15
            },
            x: {
              grid: {
                display: false
              },
              ticks: {
                display: false
              }
            }
          }
        },
        plugins: [chartAreaBorder, plugin]
      });
  }

  let xhr = new XMLHttpRequest()
  xhr.onreadystatechange = function() {
      if (this.readyState != 4) return
      charty = makeChart(xhr);
      worstCharty = makeWorstChart(xhr);
      bestCharty = makeBestChart(xhr);
  }

  xhr.open("GET", "get-chart-json", true)
  xhr.send()

  function updateChart(xhr) {
    let vals = JSON.parse(xhr.responseText)
    const data = {
      labels: vals["labels"],
      datasets: [{
          data: user_vals.slice(vals['start_index'], vals['end_index']),
          fill: false,
          tension: 0.1,
          // stepped: true,
          borderWidth: 5,
          borderColor: 'rgb(242, 48, 100)',
        },
        {
          data: vals["target"],
          fill: false,
          tension: 0.1,
          // stepped: true,
          borderWidth: 20,
          borderColor: 'rgb(143, 227, 255)',
        },
      ]
    }
    charty.data = data;
    charty.options.plugins.title.text = vals["lyrics"];
    charty.update();
  }

  function myFunc() {
    let xhr = new XMLHttpRequest()
    xhr.onreadystatechange = function() {
      if (this.readyState != 4) return
      updateChart(xhr)
    }

    xhr.open("GET", "get-chart-json", true)
    xhr.send()

  }

  function startAll() {
    document.getElementById('chartDiv').style.display = 'block';
    document.getElementById('buttons_area').style.display = 'none';
    document.getElementById('songbox')['play']();
    chartinterval = window.setInterval(myFunc, 20);
  }

  function pauseAll() {
    clearInterval(chartinterval);
  }

  function endAll() {
    clearInterval(chartinterval);
    document.getElementById("songbox").style.display = "none"
    document.getElementById("chartDiv").style.display = "none"
    document.getElementById("worstChartDiv").style.display = "block"
    document.getElementById("after_feedback").style.display = "block"

    let xhr = new XMLHttpRequest()
    xhr.open("GET", "restart-chart", true)
    xhr.send()
  }
</script>

{% endblock %}