{% extends "KaraoKeySite/base.html" %}

{% block title %} KaraoKey {% endblock %}

{% block page-name %}
{% endblock %}

{% block js-src %}
<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
<script src="../../static/KaraoKeySite/chartAJAX.js"></script>
{% endblock %}

{% block page-content %}
<div id="main">
  <audio controls onplay="startAll()" onended ="endAll()" onpause="pauseAll()" id="songbox">
    <source src="../../static/KaraoKeySite/songs/hbdnovocals.mp3"  type="audio/mp3">
  </audio>
  <div style="height:800px">
    <canvas id="myChart"></canvas>
  </div>
  
</div>

<script type="text/javascript" src="http://code.jquery.com/jquery-1.10.0.min.js"></script>
<script type="text/javascript">

  var chartinterval;

  const chartAreaBorder = {
    id: 'chartAreaBorder',
    beforeDraw(chart, args, options) {
      const {ctx, chartArea: {left, top, width, height}} = chart;
      ctx.save();
      ctx.strokeStyle = options.borderColor;
      ctx.lineWidth = options.borderWidth;
      ctx.setLineDash(options.borderDash || []);
      ctx.lineDashOffset = options.borderDashOffset;
      ctx.strokeRect(left, top, width, height);
      ctx.restore();
    }
  };

  const plugin = {
    id: 'customCanvasBackgroundColor',
    beforeDraw: (chart, args, options) => {
      const {ctx} = chart;
      ctx.save();
      ctx.globalCompositeOperation = 'destination-over';
      ctx.fillStyle = options.color || '#99ffff';
      ctx.fillRect(0, 0, chart.width, chart.height);
      ctx.restore();
    }
  };

  var charty;

  function makeChart(xhr) {
    let vals = JSON.parse(xhr.responseText)
    const data = {
      labels: vals["labels"],
      datasets: [{
          data: vals["user"],
          fill: false,
          tension: 0.1,
          stepped: true,
          borderWidth: 5,
          borderColor: 'rgb(242, 48, 100)',
        },
        {
          data: vals["target"],
          fill: false,
          tension: 0.1,
          stepped: true,
          borderWidth: 20,
          borderColor: 'rgb(143, 227, 255)',
        },
      ]
    }
    var ctx = $("#myChart").get(0).getContext("2d");
    return new Chart(ctx, {
        type: 'line', 
        data: data,
        options: {
          elements: {
              point:{
                  radius: 0
              }
          },
          events: [],
          animation: {
            duration: 0
          },
          responsive: true,
          maintainAspectRatio: false,
          interaction: {
            intersect: false,
            axis: 'x'
          },
          plugins: {
            customCanvasBackgroundColor: {
              color: 'white',
            },
            title: {
              display: true,
              text: vals["lyrics"],
              font: {
                  size: 36,
                  family: 'Inter'
              }
            },
            chartAreaBorder: {
              borderColor: 'white',
              borderWidth: 5
            },
            legend: {
              display: false
            }
          },
          scales: {
            y: {
              grid: {
                display: false
              },
              ticks: {
                display: false
              },
              // max: 15
            },
            x: {
              grid: {
                display: false
              },
              ticks: {
                display: false
              }
            }
          }
        },
        plugins: [chartAreaBorder, plugin]
      });
  }

  let xhr = new XMLHttpRequest()
  xhr.onreadystatechange = function() {
      if (this.readyState != 4) return
      charty = makeChart(xhr);
  }

  xhr.open("GET", "get-chart-json", true)
  xhr.send()


  function updateChart(xhr) {
    let vals = JSON.parse(xhr.responseText)
    const data = {
      labels: vals["labels"],
      datasets: [{
          data: vals["user"],
          fill: false,
          tension: 0.1,
          stepped: true,
          borderWidth: 5,
          borderColor: 'rgb(242, 48, 100)',
        },
        {
          data: vals["target"],
          fill: false,
          tension: 0.1,
          stepped: true,
          borderWidth: 20,
          borderColor: 'rgb(143, 227, 255)',
        },
      ]
    }
    charty.data = data;
    charty.options.plugins.title.text = vals["lyrics"];
    charty.update();
  }

  function myFunc() {
    let xhr = new XMLHttpRequest()
    xhr.onreadystatechange = function() {
      if (this.readyState != 4) return
      updateChart(xhr)
    }

    xhr.open("GET", "get-chart-json", true)
    xhr.send()

  }

  function startAll() {
    chartinterval = window.setInterval(myFunc, 20);
  }

  function pauseAll() {
    clearInterval(chartinterval);
  }

  function endAll() {
    clearInterval(chartinterval);

    let xhr = new XMLHttpRequest()
    xhr.open("GET", "restart-chart", true)
    xhr.send()
  }
</script>

{% endblock %}