{% extends "KaraoKeySite/base.html" %}

{% block title %} KaraoKey {% endblock %}

{% block page-name %}
{% endblock %}

{% block page-content %}
<div id="id_header_div">
  <div id="id_site_name">
    KaraoKey          
  </div>
  <div class="nice_button_narrow">
    <a href="{% url 'welcome' %}" id="id_nav_logout" class="header_button, nice_button_text">
      logout
    </a> 
  </div>
</div>
<div id="main">
  <div class="nice_button_narrow">
    <a href="{% url 'record' %}" id="id_nav_logout" class="header_button, nice_button_text">
      play here :)
    </a> 
  </div>
  <!-- <p>
    song selection screen
  </p>
  <p>
    <a href="/chart" id="id_nav_logout" class="header_button">
      demo
    </a> 
  </p>
  <p>
    <a href="/song/happybirthday" id="id_nav_logout" class="header_button">
      happy birthday
    </a> 
  </p>
  <p>
    <a href="/song/twinkletwinkle" id="id_nav_logout" class="header_button">
      twinkle twinkle little star
    </a> 
  </p> -->
</div>
{% endblock %}