{% extends "KaraoKeySite/base.html" %}

{% block title %} KaraoKey {% endblock %}

{% block page-name %}
{% endblock %}

{% block page-content %}
<div id="id_header_div">
  <div id="id_site_name">
    KaraoKey          
  </div>
  <a href="{% url 'welcome' %}" id="id_nav_logout" class="header_button">
    logout
  </a> 
</div>
<div id="main">
  <p>
    song selection screen
  </p>
  <p>
    <a href="/chart" id="id_nav_logout" class="header_button">
      demo
    </a> 
  </p>
  <p>
    <a href="/song/happybirthday" id="id_nav_logout" class="header_button">
      happy birthday
    </a> 
  </p>
  <p>
    <a href="/song/twinkletwinkle" id="id_nav_logout" class="header_button">
      twinkle twinkle little star
    </a> 
  </p>
  <p>
    <a href="{% url 'record' %}" id="id_nav_logout" class="header_button">
      record
    </a> 
  </p>
</div>
{% endblock %}