<!-- from https://github.com/Mido22/MediaRecorder-sample -->

{% extends "KaraoKeySite/base.html" %}

{% block title %} KaraoKey {% endblock %}

{% block page-name %}
{% endblock %}

{% block page-content %}
  <h1> MediaRecorder API example</h1>

  <div id='selection_area'>
    <button id='request_button'>Request Stream</button>
  </div>

  <div id='buttons_area'>
    <button id='start' disabled="disabled">start</button>
    <button id='stop' disabled="disabled">stop</button>
  </div>

  <div>
    <ul  id='ul'></ul>
  </div>

  <div id="result">
    put pitch here
  </div>

  <script src="https://code.jquery.com/jquery-2.2.0.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
  <script src="../../static/KaraoKeySite/record.js"></script>

  <script>
    // function loadDoc() {
    //   var xhttp = new XMLHttpRequest();
    //   xhttp.onreadystatechange = function() {
    //     if (this.readyState == 4 && this.status == 200) {
    //       document.getElementById("demo").innerHTML =
    //       this.responseText;
    //     }
    //   };
    //   xhttp.open("GET", "ajax_info.txt", true);
    //   xhttp.send();
    // }
    // setInterval(sendData(), 1000);
    window.onload = sendData;

    window.setInterval(sendData, 1000);
  </script>

{% endblock %}