{% extends "KaraoKeySite/base.html" %}

{% block title %} KaraoKey {% endblock %}

{% block page-name %}
{% endblock %}

{% block page-content %}
<div id="id_header_div">
    <div id="id_site_logo">
        KaraoKey           
    </div>    
</div>
<div id="main">
    <h1 id="reg_login_logo">register</h1>
    <form method="post" action="{% url 'register' %}">
        <table>
            {% for field in form.visible_fields %}
                <tr>
                    <td>{{field.label_tag}}</td>
                    <td class="registration_input_box">{{field}}</td>
                    <td class="errorlist">
                        {% for error in field.errors %} {{error}} {% endfor %}
                    </td>
                </tr>
            {% endfor %}
            <td class="errorlist">
                {% for error in form.non_field_errors %} 
                    {{error}} 
                {% endfor %}
            </td>
        </table>
        {% csrf_token %}
        <br>
        <button type="submit" id="id_register_button" class="reg_login_text">Register</button>
        <button onclick="window.location.href='login'" id="id_register_button" class="reg_login_text">Login</a> 
    </form>
</div>
{% endblock %}