{% extends "KaraoKeySite/base.html" %}

{% block title %} KaraoKey {% endblock %}

{% block page-name %}
{% endblock %}

{% block page-content %}
<div id="id_header_div">
    <div id="id_site_name">
        KaraoKey           
    </div>
    <a href="login" id="id_login_link" class="reg_login">
        login
    </a> 
    <br>
    <a href="quick_enter" id="id_quick_enter">
        quick enter
    </a>         
</div>
<div id="main">
    <h1 id="id_page_name">REGISTER</h1>
    <form method="post" action="{% url 'register' %}">
        <table>
            {% for field in form.visible_fields %}
                <tr>
                    <td>{{field.label_tag}}</td>
                    <td>{{field}}</td>
                    <td class="errorlist">
                        {% for error in field.errors %} {{error}} {% endfor %}
                    </td>
                </tr>
            {% endfor %}
            <td class="errorlist">
                {% for error in form.non_field_errors %} 
                    {{error}} 
                {% endfor %}
            </td>
        </table>
        {% csrf_token %}
        <br>
        <button type="submit" id="id_register_button">Register</button>
    </form>
</div>
{% endblock %}