<!-- from https://github.com/Mido22/MediaRecorder-sample -->

{% extends "KaraoKeySite/base.html" %}

{% block title %} KaraoKey {% endblock %}

{% block page-name %}
{% endblock %}

{% block js-src %}
<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
<script src="../../static/KaraoKeySite/chartAJAX.js"></script>
{% endblock %}

{% block page-content %}
  
  summary smiley face

  <script src="https://code.jquery.com/jquery-2.2.0.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
  

{% endblock %}