{% extends "KaraoKeySite/base.html" %}

{% block title %} KaraoKey {% endblock %}

{% block page-name %}
{% endblock %}

{% block page-content %}
<div id="id_header_div">
    <div id="id_site_logo">
        KaraoKey           
    </div>
    <div id="id_login_button" class="reg_login">
      <a href="login" id="id_login_link" class="reg_login_text">
        login
      </a> 
    </div>
    <div id="id_register_button" class="reg_login">
      <a href="register" id="id_register_link" class="reg_login_text">
        register
      </a> 
    </div>
    <!-- only during development -->
    <div id="id_login_button" class="reg_login">
      <a href="quick_enter" id="id_login_link" class="reg_login_text">
        quick enter
      </a>    
    </div>
</div>

{% endblock %}