/* Desktop - 15 */
body {
  background: #F2D8FF;
  /* margin-top: 50px; */
  margin: 100px;
  font-family: 'Inter';
  text-align: center;
  font-size: 25px;
}
@font-face {
  font-family: SunsetClub;
  src: url(SunsetClub.ttf);
}

/* KaraoKey */

#id_site_logo {

  font-family: SunsetClub; /* download this font */
  font-style: normal;
  font-weight: 400;
  font-size: 250px;
  line-height: 280px;
  text-align: center;

  color: #e1fffd;
  text-shadow: 0 0 10px #00cec1;

}

/* Sign Up Box */
input[type=submit] {
  position: relative;
  /* width: 200px; */
  /* height: 50px; */
  margin: 25px;
  margin-left: auto;
  margin-right: auto;
  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  font-size: 30px;

  background: #D5F5F3;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 15px;
}

.nice_button {
  position: relative;
  /* width: 200px; */
  height: 50px;
  margin: 25px;
  margin-left: auto;
  margin-right: auto;

  background: #D5F5F3;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 15px;
}

.nice_button_narrow {
  position: relative;
  width: 200px;
  height: 50px;
  margin: 25px;
  margin-left: auto;
  margin-right: auto;

  background: #D5F5F3;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 15px;
} 

.nice_button_text {
  margin: auto;
  
  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  font-size: 30px;
  line-height: 50px;
  text-align: center;
  text-decoration: none;
  
  color: #000000;
}

#id_register_button {
  position: relative;
  width: 200px;
  height: 50px;
  margin: 25px;
  margin-left: auto;
  margin-right: auto;

  background: #D5F5F3;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 15px;
}

/* Sign Up */
#id_register_link {
  /*none for now */
}


/* Login Box */

#id_login_button {
  position: relative;
  width: 200px;
  height: 50px;
  margin: 25px;
  margin-left: auto;
  margin-right: auto;

  background: #FFB0F2;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 15px;
}

/* Login */

#id_login_link {
  /*none for now */
}

.reg_login {
  text-align: center;
}

.reg_login_text {
  margin: auto;
  
  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  font-size: 30px;
  line-height: 50px;
  text-align: center;
  text-decoration: none;
  
  color: #000000;
}

